@font-face {
  font-family: "NanumBarunpen";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0 15px;
  font-family: "NanumBarunpen", sans-serif;
  background-color: #e8e7ee;
  user-select: none;
}

input {
  width: 100%;
  height: 3.2rem;
  padding: 2px 4px;
  border: none;
  outline: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#toDo {
  min-height: 85vh;
  max-width: 600px;
  margin: 7.5vh auto;
  background-color: #ffffff;
  border-radius: 2px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.11);
  text-align: center;
  perspective: 1000px;
}

.toDo__input {
  position: relative;
  display: flex;
  padding: 2rem;
}

.toDo__input::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 2rem;
  width: calc(100% - 4rem);
  height: 2px;
  background-color: #efefef;
}

.toDo__input__item {
  font-family: "NanumBarunpen", sans-serif;
  font-size: 2.4rem;
  color: #3e3e3e;
  box-sizing: border-box;
}

.toDo__input__btn {
  width: 3.2rem;
  height: 3.2rem;
  background-color: #ffffff;
}

.toDo__input__btn i {
  margin-right: 3px;
  font-size: 2.4rem;
  color: #bdbcca;
}

.toDo__output {
  position: relative;
  padding: 5rem 2rem;
}

.toDo__output__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.6rem;
  border-radius: 2px;
}

.toDo__output__container:nth-child(1) {
  margin-top: 0;
}

.drag {
  background-color: #00000022;
  z-index: -1;
}

.hint {
  background-color: #00000010;
}

.toDo__output__item {
  font-family: "NanumBarunpen", sans-serif;
  font-size: 2.3rem;
  color: #3e3e3e;
  background-color: transparent;
  cursor: pointer;
}

.complete {
  text-decoration-line: line-through;
  opacity: 0.5;
  transition: opacity 0.1s ease;
}

.toDo__output__item__btn {
  display: flex;
}

.toDo__output__item__btn button i {
  padding: 0.6rem;
  font-size: 2.4rem;
  color: #bdbcca;
}
