@font-face {
  font-family: "NanumBarunpen";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumBarunpen.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

html,
body,
h1,
input,
button,
ul {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "NanumBarunpen", sans-serif;
  background-color: #5cab7d;
  user-select: none;
}

input {
  width: 100%;
  height: 3.2rem;
  padding: 2px 4px;
  border: none;
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

#toDo {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 15px;
  text-align: center;
}

.toDo__title {
  margin: 5rem 0;
  font-size: 7rem;
}

.toDo__input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toDo__input__item {
  font-family: "NanumBarunpen", sans-serif;
  font-size: 2.4rem;
  border-radius: 4px 0 0 4px;
}

.toDo__input__btn {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 0 4px 4px 0;
  background-color: #ffffff;
}

.toDo__input__btn i {
  margin-right: 3px;
  font-size: 2.4rem;
  color: #5cab7d;
}

.toDo__output {
  margin: 5rem 0;
}

.toDo__output__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.6rem;
}

.toDo__output__container:nth-child(1) {
  margin-top: 0;
}

.drag {
  background-color: #00000022;
}

.hint {
  background-color: #ffffff22;
}

.toDo__output__item {
  font-family: "NanumBarunpen", sans-serif;
  font-size: 2.2rem;
  color: #000000;
  background-color: transparent;
  cursor: pointer;
}

.complete {
  text-decoration-line: line-through;
  opacity: 0.5;
  transition: opacity 0.1s ease;
}

.toDo__output__item__btn {
  display: flex;
}

.toDo__output__item__btn button i {
  padding: 0.6rem;
  font-size: 2.4rem;
}
